.calculadora {
    background: rgb(69, 176, 202);
    width: 200px;
    padding: 20px;
    text-align: center;


    
}

.calcF{
    display: none;
}

#calcFin:checked + .calculadora .calcF {
    display: block;

}
#btnCalc {
    background: rgb(68, 11, 94);
    color:white;
    margin: 10px;
    padding: 5px;

}
#btnCalc:hover{
    background: rgb(201, 140, 230);
    color:rgb(0, 0, 0);
    cursor: pointer;
}
#total {
    padding: 10px;
    margin: 5px;
    background: rgb(69, 176, 202);
    color:rgb(158, 16, 16);
}

